#brightnessControls 
{
    position: absolute;
    top: 115px;
    left: 1600px;
    display: flex;
    flex-direction: column;
    background-color: rgba(254, 204, 239, 0.0);
    padding: 7px;
    border: 0.5px solid #000000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    z-index: 999;
}

#brightnessSlider 
{
    appearance: none;
    width: 100%; 
    height: 4px; 
    background: linear-gradient(to right, #c1f3ff 0%, hsl(219, 100%, 76%) 100%);
    opacity: 0.7;
}
#brightnessText 
{
    cursor: move; 
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 1.8em;
}


#brightnessSlider::-webkit-slider-thumb 
{
    appearance: none;
    width: 16px; 
    height: 16px;
    background-color: #d0b2ff;
    border-radius: 50%;
    cursor: pointer;
}
